

h1{
	font-family:"arial";
}
.red{
	color:black;
}
.size{
	font-size:300%;
}
.large{
	font-size:200%;
}
.first-section{
	color:black;
	
	
	background-image:url("file:///E:/web%20project/Affordable-and-Clean-Energy/fourth.webp");
	width:100%;
}
.second-section{
    color:green;
     background-image:url("wall.jpeg");
	 width:100%;
	 font-size:16px;
}	 